<div class="alert alert-info" *ngIf="!!displayMessage">{{displayMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>

<div class="  row mt-5">
  <div class=" text-center col-sm-12 col-md-4 mt-5 font-weight-bold ">

    Write.<br>
    Your.<br>
    Own.<br>
    World.

  </div>

  <div class="col-sm-12 border border-dark col-md-6 offset-md-2  mt-5  font-weight-bold">

  <form (ngSubmit)="login()" #form = 'ngForm' >
      <div class=" form-group" >
        <label><i class="fas fa-user"></i>User Name:
        </label>
        <input type="text"
               required
               name="username"
               ngModel
               class="form-control"
               #username = "ngModel"

        >
        <span class="text-danger" *ngIf="!username.valid && username.touched">Plese Enter Valid username!</span>
      </div>
      <div class="form-group">
        <label><i class="fas fa-key"></i> Password :</label>
        <input type="password"
               required
               name="password"
               ngModel
               class="form-control"
               #password = 'ngModel'
        >
        <span class="text-danger" *ngIf="!password.valid && password.touched">Please Enter Valid password!<br></span>
        <a routerLink="/signup" >Dont have an account? Sign Up!</a>
      </div>

    <button class="btn btn-outline-primary    mb-1 col-md-12" id ='login' type="submit">Login <i class="fas fa-arrow-alt-circle-right"></i></button>
    <hr>
      <button class="btn btn-danger    mb-1 col-md-5  " (click)="differentLogin('google')"  type="button">Login with <i class="fab fa-google"></i>oogle</button>
    <button class="btn btn-primary     mb-1 col-md-5 offset-md-2" (click)="differentLogin('twiiter')"  type="button">Login with <i class="fab fa-twitter"></i> Twitter</button>

  </form>

  </div>

</div>
