
<div class="  row mt-5">
  <div class=" text-center col-sm-12 col-md-4 mt-5 font-weight-bold ">

    Write.<br>
    Your.<br>
    Own.<br>
    World.

  </div>

  <div class="col-sm-12 border border-dark col-md-6 offset-md-2  mt-5  font-weight-bold">

  <form (ngSubmit)="submit()" #form = 'ngForm' >
      <div class=" form-group" >
        <label><i class="fas fa-user"></i>User Name:
        </label>
        <input type="text "
               required
               name="username"
               ngModel
               class="form-control"
               #username = "ngModel"

        >
        <span class="text-danger" *ngIf="!username.valid && username.touched">Plese Enter Valid username!</span>
      </div>
      <div class="form-group">
        <label><i class="fas fa-key"></i> Password :</label>
        <input type="password"
               required
               name="password"
               ngModel
               class="form-control"
               #password = 'ngModel'
        >
        <span class="text-danger" *ngIf="!password.valid && password.touched">Please Enter Valid password!<br></span>
        <a routerLink="/signup" >Dont have an account? Sign Up!</a>
      </div>

    <button class="btn btn-primary mr-1 my-3 p-2  " [disabled]="!form.valid" type="submit">Login <i class="fas fa-arrow-alt-circle-right"></i></button>
      <button class="btn btn-danger  my-3 p-2 " type="button">Login with <i class="fab fa-google"></i>oogle or <i class="fab fa-facebook-f"></i>acebook!</button>
    </form>

  </div>

</div>


