
<div class="  row mt-5">
  <div class=" text-center col-sm-12 col-md-4 mt-5 font-weight-bold ">

    Write.<br>
    Your.<br>
    Own.<br>
    World.
  </div>
  <div class="col-sm-12 border border-dark col-md-6 offset-md-2  mt-5  font-weight-bold">
  <form >
      <div class=" form-group">
        <label>User Name:</label>
        <input type="text " class="form-control">
      </div>
      <div class="form-group">
        <label>Password :</label>
        <input type="password" class="form-control">
      </div>
      <button class="btn btn-primary mr-1 my-3 p-2  " type="submit">Login</button>
      <button class="btn btn-danger  my-3 p-2 " type="button">Login with Google/Fb</button>

    </form>
  </div>

</div>
