<div class="main-container" fxLayout>
  <div fxFlex="40" class="animate__animated animate__fadeInLeft">
    <img class="img-fluid" src="../../../../assets/type.svg" />
  </div>

  <div fxFlex="60" class="animate__animated animate__fadeInRight">
    <form (ngSubmit)="login()" #form="ngForm">
      <div fxLayout>
        <div fxFlex="23"></div>
        <div fxFlex="55">
          <div fxLayout="column" fxLayoutGap="5%">
            <mat-form-field>
              <mat-label> Email</mat-label>
              <input
                type="text"
                matInput
                required
                name="username"
                ngModel
                email
                #username="ngModel"
              />
              <mat-error *ngIf="username.hasError('required')"
                >Email is required.</mat-error
              >
              <mat-error *ngIf="username.hasError('email')"
                >Email Format is not correct.</mat-error
              >
            </mat-form-field>

            <mat-form-field>
              <mat-label>Password </mat-label>
              <input
                type="password"
                required
                name="password"
                ngModel
                matInput
                #password="ngModel">

              <mat-error *ngIf="password.hasError('required')"
                >Password is requried.</mat-error
              >
            </mat-form-field>

            <a routerLink="/signup">Dont have an account? Sign Up!</a>

            <button
              mat-raised-button
              color="primary"
              id="login"
              type="submit"
              [disabled]="!form.valid"
            >
              <i class="fas fa-sign-in-alt"></i> Login
            </button>

            <button
              mat-raised-button
              style = "background-color: #DE5246"
              (click)="differentLogin('google')"
              type="button"
            >
              <i class="fab fa-google"></i> Login with Google
            </button>
            <button
              mat-raised-button
              style="background-color: #1DA1F2"
              (click)="differentLogin('twitter')"
              type="button"
            >
              <i class="fab fa-twitter"></i> Login with Twitter
            </button>
          </div>
        </div>

        <div fxFlex="22"></div>
      </div>
    </form>
  </div>
</div>


<div fxLayout>
  <div fxFlex="50" fxLayoutAlign="center center">
    <p class="mat-display-3 text-center">
      Write What You Feel.
      <br />
      Explore New Ways.
    </p>
  </div>

  <div fxFlex="50">
    <img class="img-fluid" src="../../../../assets/typewriter.svg" />
  </div>
</div>
