<!--mat toolbar is a flexbox itself -->
<mat-toolbar color="primary">
  <a *ngIf="isAuth" mat-icon-button type="button" (click)="toggleSideNav()"
    ><mat-icon>menu</mat-icon></a
  >
  <a class="text-white" routerLink="/home/feed"
    ><i class="fas fa-union"></i> Blog</a
  >
  <div fxFlex="80"></div>
  <mat-list *ngIf="isAuth">
    <mat-list-item>
      <p class="lead" matLine>
        {{ this.user?.username }}
      </p>
      <img
        matListAvatar src="{{ this.user?.displayImage }}"
      />

    </mat-list-item>
  </mat-list>
</mat-toolbar>
