<!--mat toolbar is a flexbox itself -->
<mat-toolbar  color="primary">

  <!-- mat nav list contain a tag with mat-list-item -->
  <mat-nav-list fxLayout>

    <a  *ngIf="isAuth && !isNewUser" mat-list-item  (click)="toggleSideNav()"
    ><mat-icon>menu</mat-icon></a>

    <a  mat-list-item  routerLink="/home/feed"
    ><i class="fas fa-union"></i> -Blog</a>

  </mat-nav-list>

  <div fxFlex="80"></div>

  <!-- mat list contain anything with mat-list-item -->

  <mat-nav-list *ngIf="isAuth && !isNewUser" fxLayout>

    <a mat-list-item matTooltip="Your Notifications">
      <mat-icon matBadge="7" matBadgeColor="warn">notifications</mat-icon>
    </a>

    <a mat-list-item matTooltip="Your Bookmarks">
      <button mat-icon-button routerLink="/home/bookmarks">
        <mat-icon matBadge="{{this.user?.bookmarks?.length}}" matBadgeColor="warn">bookmark</mat-icon>
      </button>
    </a>

    <a mat-list-item matTooltip="Write Article">
      <button mat-icon-button routerLink="/home/write">
        <mat-icon>mode</mat-icon>
      </button>
    </a>

    <a mat-list-item matTooltip="Search Article/Person">
      <mat-icon>search</mat-icon>
    </a>

    <a mat-list-item routerLink="/home/me">
      <img matListAvatar src="{{user?.displayImage}}" />
    </a>

    <a mat-list-item routerLink="/home/me" >
      <p matLine>
        {{user?.username}}
      </p>
    </a>

  </mat-nav-list>

</mat-toolbar>
