<!-- mat content drawer is a flex so no need to recreate it -->
<div style="position: absolute;" >
  <mat-chip-list>
    <mat-chip
      color="primary"
      selected
      routerLink="../topics"
      *ngFor="let topic of observerableTopicList | async"
      >{{ topic }}</mat-chip
    >
  </mat-chip-list>
</div>

<div fxFlex="15"></div>

<div
  style="padding-top: 10%"
  fxFlex="35"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <mat-card
    class="mb-5 animate__animated animate__fadeInUp"
    *ngFor="let article of articleArray">

    <mat-card-header>
      <mat-card-title [routerLink]="['../article', article.id]">
        <h3>
          {{ this.article.name }}
        </h3>
      </mat-card-title>
      <mat-card-subtitle>
        <p>Author :{{ this.article.owner }}</p>
      </mat-card-subtitle>
    </mat-card-header>

    <img
      [routerLink]="['../article', article.id]"
      mat-card-image
      src="{{ this.article.imgURL }}"
      alt="No image"/>

    <mat-card-content>

      <p><u>Min To Read :</u> {{ this.article.mintoRead }}</p>
      <p>{{ this.article.description }}</p>
      <hr>

    </mat-card-content>

    <mat-card-actions>
      <button
        mat-icon-button
        matTooltip="Bookmark it"
        (click)="bookmarkArticle(this.article.id)">
        <mat-icon>bookmark </mat-icon>
      </button>
    </mat-card-actions>

  </mat-card>

  <h4  *ngIf="noPosts" class="text-center">
    {{ "No more posts" | noFeedPipe }}
  <hr>
  </h4>


</div>

<div fxFlex="10"></div>

<div style="padding-top: 10%" >
    <h4  class="text-center">Latest Articles</h4>
  <mat-divider></mat-divider>
  <mat-nav-list >
      <a mat-list-item *ngFor="let article of latestArticles" [routerLink]="['../article',article.id]">
        <mat-icon>chevron_right</mat-icon>{{ article.name }}
      </a>
    </mat-nav-list>
  <mat-divider></mat-divider>

  <h4  class="text-center" style="padding-top: 20%">Your Topics</h4>
  <hr>
  <mat-chip-list>
    <mat-chip
      selected
      color="warn"
      *ngFor="let myTopic of myTopicList"
    >{{ myTopic }}</mat-chip
    >
  </mat-chip-list>


</div>

<div fxFlex="5"></div>

<div class="fixed-bottom mb-5">
  <ngx-spinner
    name="articleLoadingSpinner"
    bdColor="rgba(0,0,0,0)"
    size="medium"
    color="#2e47b5"
    type="ball-beat"
    [fullScreen]="false"
  ></ngx-spinner>
</div>

<ngx-spinner
  name="mainScreenSpinner"
  size="medium"
  color="#1b26c3"
  type="ball-clip-rotate"
  [fullScreen]="true"
></ngx-spinner>
