<!-- mat drawer is a flex so no need to recreate it -->
<div style="position: absolute" class="ml-5">
  <mat-chip-list aria-label="Fish selection">
    <mat-chip
      color="primary"
      selected
      *ngFor="let topic of observerableTopicList | async"
      >{{ topic }}</mat-chip
    >
  </mat-chip-list>
</div>
<div fxFlex="20"></div>
<div
  fxFlex="30"
  style="padding-top: 10%"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <mat-card
    class="mb-5 animate__animated animate__fadeIn"
    *ngFor="let article of articleArray"
  >
    <mat-card-header>
      <mat-card-title [routerLink]="['../article', article.id]">
        <h3>
          {{ this.article.name }}
        </h3>
      </mat-card-title>
      <mat-card-subtitle
        ><p><b>Author :</b> {{ this.article.owner }}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <img
      [routerLink]="['../article', article.id]"
      mat-card-image
      src="{{ this.article.imgURL }}"
      alt="No image"
    />
    <mat-card-content>
      <p><b>Min to read :</b> {{ this.article.mintoRead }}</p>
      <hr />
      <p>
        {{ this.article.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-icon-button
        matTooltip="Bookmark it"
        (click)="bookmarkArticle(this.article.id)"
      >
        <mat-icon>bookmark </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="noPosts">
    <h4 class="text-center">{{ "No more posts" | noFeedPipe }}</h4>
  </div>
</div>

<div fxFlex="10"></div>
<div fxFlex="30">
  <mat-card class="latest-article">
    <p class="text-center"><b>Latest Articles</b></p>
    <mat-list>
      <mat-list-item *ngFor="let name of latestArticles">
        <p><mat-icon>chevron_right</mat-icon>{{ name }}</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>

<div class="fixed-bottom mb-5">
  <ngx-spinner
    name="articleLoadingSpinner"
    bdColor="rgba(0,0,0,0)"
    size="medium"
    color="#2e47b5"
    type="ball-beat"
    [fullScreen]="false"
  ></ngx-spinner>
</div>

<ngx-spinner
  name="mainScreenSpinner"
  size="medium"
  color="#1b26c3"
  type="ball-clip-rotate"
  [fullScreen]="true"
></ngx-spinner>
