<div class="main-container" fxLayout>
  <div fxFlex="20"></div>

  <!--article section -->
  <div  fxLayout="column" fxFlex>
    <h1 class='mat-display-4 text-center'>{{ article?.name }}</h1>
    <a  mat-icon-button><mat-icon>history_edu</mat-icon> Written By : {{ article?.owner }}
    </a>
    <img src="{{ article?.imgURL }}" alt="none" />
    <a  mat-icon-button><mat-icon>auto_stories</mat-icon> Min to Read : {{ article?.mintoRead }}
      <mat-icon>waving_hand</mat-icon>   Clap : {{ article?.claps }}
    </a>
    <h5 class="text text-center">
      {{ article?.itSelf }}
    </h5>
    <br> <br> <br>

    <!-- comment section -->
    <h3><mat-icon>comment</mat-icon> Comments </h3>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item  *ngFor="let comment of commentsArray">
       <h5>{{ comment }} </h5>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>

    <!-- clap section -->
    <button
      *ngIf="checkIfWrittenByMe()"
      mat-icon-button
      #button
      (click)="clap(button)">
     <mat-icon>waving_hand</mat-icon> Clap To Article!
    </button>

   <!-- make comment section -->
    <mat-form-field>
      <mat-label>Comment Here</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="comment"
        >
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="makeComment()" [disabled]="!this.comment">
      Comment
    </button>
  </div>

  <div fxFlex="20"></div>

</div>
