<div class="alert" [ngClass]="displayMessage===successMessage ? 'alert-danger' : 'alert-success'"
     *ngIf="!!displayMessage">{{displayMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="main-container" fxLayout>

  <div fxFlex="30"></div>



  <div  fxFlex="60" >

    <div fxLayout="column" fxLayoutGap="5%">
      <mat-form-field>
        <mat-label>Password :</mat-label>
        <input type="password"
               required
               name="phonenumber"
               ngModel
               matInput
               #phonenumber = 'ngModel'
        >
        <mat-error *ngIf="phonenumber.hasError('required')">Please fill correctly!</mat-error>
      </mat-form-field>

      <div id="recaptcha-container" class="captcha-container"></div>

      <button mat-raised-button color="accent" (click)="sendSmsCode()" >Sign up!</button>

      <div  class="form-inline my-1" *ngIf="!recaptchaHide">
        <input class="form-control col-md-6 mr-1" placeholder="Insert code" type="text"  #codeInputRef>
        <button class="btn btn-danger" (click)="verify(codeInputRef.value)">Verify Code!</button>
      </div>

    </div>


  </div>

  <div fxFlex="30"></div>


</div>
