<div fxFlex="10"></div>

<mat-list fxFlex>

    <h1  class="animate__animated animate__fadeInDownBig text-center">
      Topics
    </h1>
    <mat-list-item *ngFor="let topic of topicList">
        <p matLine > - {{ topic }}</p>
      <button  #button  (click)="subscribeTopic(topic,button)" color="primary"  mat-raised-button>
        {{"Follow!" | unfollow:topic:button}}
      </button>

      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-list>
<div fxFlex="10"></div>


<ngx-spinner
  name="mainScreenSpinner"
  size="medium"
  color="#1b26c3"
  type="ball-clip-rotate"
  [fullScreen]="true"
></ngx-spinner>
