<div fxFlex="40">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div>
      <img
        src="{{ this.user?.displayImage }}"
      />
    </div>
    <div class="mt-3">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="fileInput.click()"
      >
        Choose File
      </button>
      <input
        hidden
        type="file"
        color="warn"
        (change)="changePicture($event)"
        #fileInput
      />
    </div>
  </div>
</div>

<div fxFlex>
  <div fxLayout="column" fxFlex>
    <div>
      <h3>Email :</h3>
      <div fxLayout>
        <p fxFlex>
          {{ user?.email }}
        </p>
        <div fxLayoutAlign="flex-end">
          <mat-icon matTooltip="Sorry You Cannot Edit This.">lock</mat-icon>
        </div>
      </div>
      <hr />
    </div>

    <div>
      <h3>Username :</h3>
      <div fxLayout>
        <p fxFlex>
          <mat-form-field>
            <input
              type="text"
              matInput
              [(ngModel)]="username"
              [disabled]="usernameInput"
            />
          </mat-form-field>
          <button  class="ml-3" mat-raised-button color="warn" *ngIf="!usernameInput" (click)="save('username')">Save</button>
        </p>
        <div fxLayoutAlign="flex-end">
          <button mat-icon-button (click)="this.usernameInput = !this.usernameInput; this.warningMessage = !this.warningMessage">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
      <hr />
    </div>

    <div>
      <h3>Bio :</h3>
      <div fxLayout>
        <p fxFlex>
          <mat-form-field>
            <input
              type="text"
              matInput
              [(ngModel)]="bio"
              [disabled]="bioInput"
            />
          </mat-form-field>
          <button  class="ml-3" mat-raised-button color="warn" *ngIf="!bioInput" (click)="save('bio')">Save</button>
        </p>
        <div fxLayoutAlign="flex-end">
          <button mat-icon-button (click)="this.bioInput = !this.bioInput; this.warningMessage = !this.warningMessage">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
      <hr />
    </div>

    <div>
      <h3>Password :</h3>
      <div fxLayout>
        <p fxFlex>
          *********
        </p>
        <div fxLayoutAlign="flex-end">
          <mat-icon matTooltip="Sorry You Cannot Edit This.">lock</mat-icon>
        </div>
      </div>
      <hr />
    </div>
    <h4 style="color:red" *ngIf="warningMessage">(Note: If You Are Unable to Edit,In that Case Please Refresh The Page)</h4>


    <div  class="mt-3">
      <button  matTooltip="This includes your subscriptions,bookmarks etc.." (click)="deleteAccountData()" fxFlex mat-raised-button style="background-color: red; color: white;"><b> Erase All User Data!</b></button>
    </div>
  </div>
</div>

<div fxFlex="20"></div>

<mat-toolbar color ="primary" class="fixed-bottom" >
  <div fxFlex>
    <p class="text-center"> &copy; CopyRights Reserved U-Blog 2021</p>
  </div>
</mat-toolbar>

<ngx-spinner
  name="mainScreenSpinner"
  size="medium"
  color="#1b26c3"
  type="ball-clip-rotate"
  [fullScreen]="true"
></ngx-spinner>

