<div class="container" fxFlex="40">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div>
      <img
        style="border-radius: 20%"
        width="300px"
        height="400px"
        src="{{ this.currentUser?.displayImage }}"
      />
    </div>
    <div class="mt-2">
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="fileInput.click()"
      >
        Choose File
      </button>
      <input
        hidden
        type="file"
        color="warn"
        (change)="changePicture($event)"
        #fileInput
      />
    </div>
  </div>
</div>
<div fxFlex>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
    <div>
      <h3>Email :</h3>
      <div fxLayout>
        <p fxFlex>
          {{ currentUser?.email }}
        </p>
        <div fxLayoutAlign="flex-end">
          <mat-icon>edit</mat-icon>
        </div>
      </div>
      <hr />
    </div>

    <div>
      <h3>Username :</h3>
      <div fxLayout>
        <p fxFlex>
          {{ currentUser?.username }}
        </p>
        <div fxLayoutAlign="flex-end">
          <mat-icon>edit</mat-icon>
        </div>
      </div>
      <hr />
    </div>

    <div>
      <h3>Bio :</h3>
      <div fxLayout>
        <p fxFlex>
          {{ currentUser?.bio }}
        </p>
        <div fxLayoutAlign="flex-end">
          <mat-icon>edit</mat-icon>
        </div>
      </div>
      <hr />
    </div>
  </div>

  <ngx-spinner
    name="mainScreenSpinner"
    size="medium"
    color="#1b26c3"
    type="ball-clip-rotate"
    [fullScreen]="true"
  ></ngx-spinner>
</div>
<div fxFlex="20"></div>
