<div fxFlex="10"></div>

<mat-nav-list fxFlex>
  <h1  class="animate__animated animate__fadeInDownBig text-center">
    Reading List
  </h1>
  <mat-divider></mat-divider>
  <a mat-list-item *ngFor="let article of articleArray" [routerLink]="['../article', article.id]">
    <img matListAvatar src="{{article.imgURL}}" />
    <h3> {{article.name}}</h3>
    <mat-divider></mat-divider>
  </a>
  <h3 class="text-center" *ngIf="booksmarksNotAvailable" >No Bookmark has been set so far...</h3>

</mat-nav-list>
<div fxFlex="10"></div>

