<div class="main-container" fxLayout>

  <div fxFlex="30"></div>

  <div  fxFlex="60" >

    <div fxLayout="column">
      <mat-form-field>
        <mat-label>Enter Phone Number 0xxxxxxxxxx</mat-label>
        <input type="number"
               required
               ngModel
               matInput
               #phoneNumber = 'ngModel'

        >
        <mat-error *ngIf="phoneNumber.hasError('required')">Please fill correctly!</mat-error>
      </mat-form-field>

      <div id="recaptcha-container" class="captcha-container"></div>

      <button class="mt-3" mat-raised-button color="accent" (click)="sendSmsCode(phoneNumber.value)" [disabled]="(!phoneNumber.valid) "><mat-icon>smartphone</mat-icon> Login</button>

      <div *ngIf="captchaVisible" fxLayout="column">
        <mat-form-field >
          <mat-label>Insert Code</mat-label>
          <input
            type="text"
            required
            matInput
            ngModel
            #codeInput = 'ngModel'
            >
          <mat-error *ngIf="codeInput.hasError('required')"></mat-error>
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="verify(codeInput.value)" [disabled]="!codeInput.valid">Verify Code</button>
      </div>

    </div>


  </div>

  <div fxFlex="30"></div>

</div>

<mat-toolbar color ="primary" class="fixed-bottom" >
  <div fxFlex>
    <p class="text-center"> &copy; CopyRights Reserved U-Blog 2021</p>
  </div>
</mat-toolbar>


<ngx-spinner
  name="mainScreenSpinner"
  size="medium"
  color="#1b26c3"
  type="ball-clip-rotate"
  [fullScreen]="true"
></ngx-spinner>
